.classpath
**/bin
**/library
**/.idea
*~
*/.classpath
*/.project
*/.settings
socialtsquery
socialtsquery/*
.project
.settings
**/target
OCBA_Backend/config/dict
OCBA_Backend/rData
OCBA_Backend/Tokens
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
